# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
NODE_REPL_HISTORY_FILE=~/.node_history;
# Allow 32³ entries; the default is 1000.
NODE_REPL_HISTORY_SIZE='32768';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# NVM environment
export NVM_DIR="$HOME/.nvm"; [ -s "$NVM_DIR/nvm.sh" ] && source "$NVM_DIR/nvm.sh"
[ -r "$NVM_DIR/bash_completion" ] && source "$NVM_DIR/bash_completion"
$(which npm > /dev/null) && source <(npm completion);

if which brew > /dev/null; then
    # Add coreutils to path
    brew_prefix_coreutils="$(brew --prefix coreutils)"
    [ -d "$brew_prefix_coreutils/libexec/gnubin" ] && export PATH="$brew_prefix_coreutils/libexec/gnubin:$PATH";
    export MANPATH="$brew_prefix_coreutils/libexec/gnuman:$MANPATH";
    unset brew_prefix_coreutils

    # Set Go environment
    brew_prefix_go="$(brew --prefix go)"
    if [ -d "$brew_prefix_go/libexec/bin" ]; then
        export GOROOT="$brew_prefix_go/libexec"
        export PATH="$PATH:$GOROOT/bin"
        export GOPATH="$HOME/Development/golang"
        export PATH="$PATH:$GOPATH/bin"
    fi
    unset brew_prefix_go
fi
